{% extends 'base.html.twig' %}

{% block title %}Salles index{% endblock %}

{% block body %}
    <h1>Salles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Qualite_projection</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.qualiteProjection }}</td>
                <td>
                    <a href="{{ path('app_salles_show', {'id': salle.id}) }}">show</a>
                    <a href="{{ path('app_salles_edit', {'id': salle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salles_new') }}">Create new</a>
{% endblock %}
