{% extends 'base.html.twig' %}

{% block title %}Salles{% endblock %}

{% block body %}
    <h1>Salles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salle.id }}</td>
            </tr>
            <tr>
                <th>Qualite_projection</th>
                <td>{{ salle.qualiteProjection }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_salles_index') }}">back to list</a>

    <a href="{{ path('app_salles_edit', {'id': salle.id}) }}">edit</a>

    {{ include('salles/_delete_form.html.twig') }}
{% endblock %}
